#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name[]=thePhoto Blueprint
GenericName[]=Photo Manager
Exec=thephoto
Icon=com.vicr123.thephoto
MimeType=image/jpeg;image/png;image/gif;image/exif;
Categories=Graphics;
